.container {
    max-width: 100%;
    width: 100vw;
}

.superior {
    display: flex;
    height: 70vh;
    margin: 30px;
    flex-direction: column;
    background: black;
    color: white;
    justify-content: center;
    padding: 20px;
}


.span1 {

    margin-left: 90px;
    margin-right: 20px;
    align-items: center;
    background: #AA14F0;
}

.span3 {
    background: #AA14F0;

}

.span2 {
    margin-left: 20px;
    background: #AA14F0;

}

.span4 {
    background: #F2F013;
}

.span5 {
    background: #88E0EF;
}

.span6 {
    background: #88E0EF;
}

.span7 {
    background: #6B4F4F;
}

.span8 {
    background: #FF8243;
}

.span9 {
    background: #FF8243;
}

.superior1 {
    background: #E5890A;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.superior2 {
    display: flex;
    background: #D0CAB2;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.medio {
    display: flex;
    height: 550px;
    margin: 30px;
    flex-direction: row;
    background: #2FDD92;
    color: white;
    justify-content: center;
    padding: 20px;

}

.izquierdo {
    background: #49FF00;
    width: 1900px;
    height: 300px;
    padding: 20px;
    margin-top: 120px;
    margin-right: 20px;
    display: grid;
    grid-template-areas:
        izquierdo2, izquierdo2, izquierdo3, izquierdo3;
}

.izquierdo1 {
    display: flex;
    column-gap: 10px;
}

.izquierdo2 {
    margin-top: 40px;
}

.izquierdo3 {
    margin-top: 40px;

}


.derecho {
    background: #F2F013;
    height: 300px;
    padding: 20px;
    margin-top: 120px;
}

.derechoInferior {
    margin-top: 20px;
}

.inferior {
    display: flex;
    height: 100px;
    margin: 30px;
    flex-direction: column;
    background: #FF5151;
    color: white;
    justify-content: center;
    padding: 20px;
    padding-left: 45px;
}

/* Desktop responsive */

@media(max-width: 1440px) {
    .superior {
        height: 120vh;
    }

    .superior1 {
        width: 100%;
        font-size: 14px;
    }

    .superior2 {
        height: 40vh;
        font-size: 20px;
    }

    .span1 {
        margin-left: 6%;
    }

    .span1,
    .span2,
    .span3 {
        font-size: 21px;
    }

    .derecho {
        margin-top: 120px;
        padding-bottom: 20px;
        font-size: 18px;
    }

    .izquierdo {
        font-size: 20px;
    }

    .inferior {
        font-size: 20px;
    }
}


@media(max-width: 1024px) {
    .superior1 {
        width: 100%;
        font-size: 13px;
    }

    .superior2 {
        height: 34vh;
    }

    .span1 {
        margin-left: 7%;
    }

    .span1,
    .span2,
    .span3 {
        font-size: 14px;
    }

    .span4 {
        font-size: 19px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .span5,
    .span6,
    .span7 {
        font-size: 17px;
    }

    .span8,
    .span9 {
        font-size: 17px;
    }

    .superior {
        height: 115vh;
    }

    .medio {
        height: 130vh;
        flex-direction: column;
        padding-bottom: 45px;
        padding-top: 50px;
        padding-left: 32px;
    }

    .izquierdo {
        width: 94%;
        height: 195px;
        margin-top: 40px;
        margin-bottom: 10px;
        padding-bottom: 61px;
        padding-top: 7px;

    }

    .izquierdo1 {
        margin-bottom: 20px;
    }

    .derecho {
        height: 26%;
        max-width: 80.5%;
        margin-top: 42px;
        padding-bottom: 72px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 60px;
    }

    .inferior {
        font-size: 83%;
        height: 12vh;
    }
}

@media(max-width: 768px) {

    .superior {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .superior1 {
        font-size: 11px;
    }

    .superior2 {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .span1 {
        margin-left: 5%;
    }

    .span4 {
        font-size: 17px;
    }

    .span8,
    .span9 {
        font-size: 66%;
    }

    .span5,
    .span6,
    .span7 {
        font-size: 12px;
    }

    .derecho {
        max-width: 90%;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 40px;
    }

    .medio {
        padding-left: 20px;
    }

    .inferior {
        font-size: 84%;
    }

    .span1,
    .span2,
    .span3 {
        font-size: 92%;
    }
}

@media(max-width: 425px) {
    .span4 {
        font-size: 9.99px;
    }

    .superior {
        height: 90vh;
        padding-top: 13px;
        padding-bottom: 10px;
    }

    .superior1 {
        padding-bottom: 85px;
        padding-top: 77px;
        margin-bottom: 0px;
    }

    .superior2 {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 20vh;
    }

    .span1,
    .span2,
    .span3 {
        font-size: 16px;
    }

    .span1 {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 7%;
    }

    .span2 {
        margin-left: 0px;
    }

    .izquierdo {
        height: 80vh;
        width: 90%;
        padding-top: 10px;
        padding-right: 13px;
        padding-left: 18px;
        padding-bottom: 35px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 5px;
        display: flex;
        flex-direction: column;
    }

    .izquierdo1 {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .izquierdo2 {
        margin-top: 10px;
    }

    .izquierdo3 {
        margin-top: 10px;
    }

    .medio {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 105vh;
    }

    .derecho {
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 58px;
        padding-right: 15px;
        padding-left: 23px;
        font-size: 15px;
    }

    .derechoInferior {
        margin-top: 13px;
    }

    .span5,
    .span6,
    .span7 {
        font-size: 10.6px;
    }

    .inferior {
        font-size: 8.4px;
    }
}