body {
    margin: 0;
}

/* -----------------------------------HEADER-------------------------------------------------- */

.header {
    background-image: url("/images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* Activacion de la keyframe animacion */
    display: inline-block;
    animation: moverPortada 1s ease-in;
}

.containerPortada {
    display: flex;
    margin-top: 204px;
    justify-content: center;
    height: 32vh;
    width: 100vw;
    align-items: end;
    font-size: 32px;
    color: #f59b7b;
    background: rgba(0, 40, 11, 0.09);
}

.textoPortada {
    margin-bottom: 60px;
}

.encapsulado {
    width: 88vw;
    display: flex;
    margin-left: 87px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
}

ion-icon {
    margin-right: 5px;
    color: #7f807f;
}

a {
    text-decoration: none;
    color: #7f807f;

}

.logo {
    height: 15vh;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Activacion de la keyframe animacion */
    display: inline-block;
    animation: moverLogo 1s ease-in;
}

.home {
    margin-left: 2px;
}

/* -----------------------------------HEADER-------------------------------------------------- */

/* ------------------------------------MAIN--------------------------------------------------- */

main {
    display: flex;
    margin-top: 10px;
}

article {
    background: #d7d6d7;
    margin-top: 7px;
}

.containerSuperior {
    display: flex;
    align-items: baseline;
}

.culturaContainer {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 35vw;
    background: #f4f0f0;
}

.gastronimiaContainer {
    max-width: 35vw;
    margin-right: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f4f0f0;

}

.containerInferior {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
}

.turismoContainer {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 35vw;
    background: #f4f0f0;
}

.vidanocturnaContainer {
    /* width: 35vw; */
    margin-top: 20px;
    margin-right: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f4f0f0;

}


.containerDerecho {
    display: flex;
    background: #d7d6d7;
    margin-left: 10px;
    margin-top: 7px;
}

/* ????????????????? */
img {
    max-width: 35vw;

}

#fotoNoche {
    width: auto;
    height: 10vh;
}

aside {
    display: flex;
}

strong {
    display: flex;
    justify-content: center;
}

.cultura,
.turismo,
.gastronomia,
.vidaNocturna {
    background: #f07f7f;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 19px;
    color: white;
}

.info p {
    display: flex;
    font-size: 22px;
    justify-content: center;
}

/* ------------------------------------MAIN--------------------------------------------------- */

/* ------------------------------------FOOTER------------------------------------------------- */

.footer {
    justify-content: space-between;
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background: #f3eff0;
}

.bordeIzq {
    background: #d7d6d7;
    width: 1vw;


}

.bordeDer {
    background: #d7d6d7;
    width: 1vw;
}

/* ------------------------------------FOOTER------------------------------------------------- */
@media (max-width: 2560px) {
    .logo {
        height: 15vh;
        width: auto;
    }

    .containerPortada {
        margin-top: 320px;
        height: 40.6vh;
    }

    .textoPortada {
        margin-bottom: 190px;
        margin-top: 0;
    }

    #fotoNoche {
        width: 35vw;
        height: auto;
    }
}

@media (max-width: 1440px) {
    .logo {
        height: 11vh;
        width: auto;
    }

    .containerPortada {
        margin-top: 208px;
        height: 34.6vh;
    }

    .textoPortada {
        margin-bottom: 75px;
        margin-top: 0;
    }

    #fotoNoche {
        height: 77.9vh;
    }

    .footer {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .logo {
        height: 10vh;
        width: 3.6vw;
    }

    .containerPortada {
        margin-right: 45px;
    }

    #fotoNoche {
        height: 55.7vh;
    }

    .info p {
        font-size: 17px;
    }

    #footer {
        font-size: 16px;
    }

    .cultura,
    .turismo,
    .gastronomia,
    .vidaNocturna {
        padding-top: 9px;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 9vh;
        width: 4.5vw;
    }

    .encapsulado {
        margin-left: 50px;
    }

    .containerPortada {
        margin-top: 218px;
        margin-right: 6px;
    }

    .cultura,
    .turismo,
    .gastronomia,
    .vidaNocturna {
        padding-top: 7px;
    }

    .parrafos {
        font-size: 13px;
    }

    .info p {
        font-size: 13px;
    }

    #footer {
        font-size: 13px;
    }

    article {
        margin-top: 3px;
    }

    .culturaContainer {
        max-width: 40vw;
        margin-top: 22px;
        margin-right: 15px;
        margin-left: 25px;
        padding-right: 30px;
    }

    .gastronimiaContainer {
        max-width: 40vw;
        margin-right: 0px;
        padding-right: 30px;
    }

    main {
        flex-direction: column;
    }

    img {
        max-width: 42vw;
    }

    .cultura,
    .turismo,
    .gastronomia,
    .vidaNocturna {
        margin-top: 10px;
        width: 41.5vw;
    }

    .turismoContainer {
        max-width: 40vw;
        margin-top: 22px;
        margin-right: 15px;
        margin-left: 25px;
        padding-right: 30px;
    }

    .vidanocturnaContainer {
        max-width: 40vw;
        margin-right: 0px;
        padding-right: 30px;
    }

    #fotoNoche {
        height: 49.8vh;
        width: auto;
    }

    .containerDerecho {
        margin-left: 0px;
        padding-left: 12px;
    }

    .footer {
        margin-top: 10px;
    }

    #footer {
        font-size: 12px;
    }
}

@media (max-width: 425px) {

    .logo {
        height: 7vh;
        width: 6.5vw;
    }

    .menu {
        margin-top: 10px;
    }

    .header {
        width: 111vw;
    }

    .textoPortada {
        font-size: 21px;
        margin-bottom: 60px;
    }

    .containerPortada {
        margin-right: 0px;
        height: 25vh;
        margin-top: 265px;
    }

    article {
        width: 111vw;
    }

    .culturaContainer {
        margin-left: 21px;
        padding-left: 15px;
        padding-right: 20px;
        margin-top: 15px;
    }

    .gastronimiaContainer {
        padding-right: 20px;
        padding-left: 13px;
        margin-left: 8px;
        padding-top: 14px;

    }

    #fotoNoche {
        height: 27.8vh;
        width: auto;
    }

    .turismoContainer {
        margin-left: 21px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .vidanocturnaContainer {
        padding-right: 20px;
        padding-left: 13px;
        margin-left: 8px;
    }

    .containerInferior {
        margin-top: 0px;
    }

    .parrafos {
        font-size: 10px;
    }

    .cultura,
    .turismo,
    .gastronomia,
    .vidaNocturna {
        margin-top: 10px;
        width: 41.5vw;
        font-size: 15px;
        margin-top: 7px;
    }

    .info p {
        font-size: 9px;
    }

    aside {
        width: 111vw;
    }

    .containerDerecho p {
        font-size: 11px;
    }

    .containerDerecho {
        font-size: 9px;
    }

    .footer {
        width: 111vw;
    }

    #footer {
        font-size: 9px;
    }
}

@keyframes moverLogo {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverPortada {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}